body {
    background: yellow;
}
div.logo {
    margin: 0 auto;
    width: 100%;
    text-align: center;
    padding: 10px;
    color: Black;
}

div.menu{
    background: lightgray;
}

div {
    margin: auto;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
}

li {
    margin: auto;
    width: 90px;
}

div.form input{
    display: flex;
}

input {
    flex-direction: column;
}

