<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, shrink-to-fit=no">
    <title>Virtual Trainer</title>

    <!-- plugins css -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/pace-theme-minimal.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/perfect-scrollbar.css') }}" />

    <!-- core css -->
    <link href="{{ url_for('static', filename='css/home.css') }}" rel="stylesheet">

    <script src="home.js"></script>
    
    <!-- icon-->
    <link rel="icon" href="{{ url_for('static', filename='VirtualTrainerLogo-removebg-preview.png') }}">
</head>

<body>
    <div class="app">
        <div class="layout">
            <!-- Page Container START -->
            <div class="page-container">
                <!-- Header START -->
                <header>
                    <div class="header-container">
                        <nav>
                            <div class="logo">
                                <h1><img src="{{ url_for('static', filename='VirtualTrainerLogo.png') }}" alt ="VT_Logo" width="10%" height="10%">Home</h1>
                            </div>
                            <div class="menu">
                                <ul>
                                    <li><a href="{{ url_for('home') }}">Home</a></li>
                                    <li><a href="{{ url_for('map') }}">Map</a></li>
                                    <li><a href="{{ url_for('buddy') }}">Find a Buddy</a></li>
                                    <li><a href="{{ url_for('leaderboard') }}">Leaderboard</a></li>
                                </ul>
                            </div>
                        </nav>
                    </div>
                </header>
                <!-- Header END -->

                <!-- Content Wrapper START -->
                <div class="main-content">
                    <div class="container-fluid">
                        <!-- <div class="page-title">
                            <h4>Personal Info</h4>
                        </div> -->
                        <div class="row">
                            <div class="col-md-12">
                                <div class="card">
                                    <div class="card-heading border bottom">
                                        <h4 class="card-title">Personal Info</h4>
                                    </div>
                                    <div class="card-block">
                                        <div class="mrg-top-40">
                                            <div class="row">
                                                <div class="col-md-8 ml-auto mr-auto">
                                                    <form>
                                                        <div class="row">
                                                            <div class="col-md-6">
                                                                <div class="form-group">
                                                                    <label>First Name: {{first_name}}</label>
                                                                    <label id="first_name"></label>

                                                                    
                                                                </div>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <div class="form-group">
                                                                    <label>Last Name: {{last_name}}</label>
                                                                    <label id="last_name"></label>

                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-md-6">
                                                                <div class="form-group">
                                                                    <label>Age: {{age}}</label>
                                                                    <label id="age"></label>

                                                                </div>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <div class="form-group">
                                                                    <label>Location: {{location}}</label>
                                                                    <label id="location"></label>
                               
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-md-6">
                                                                <div class="form-group">
                                                                    <label>Gender: {{gender}}</label>
                                                                    <label id="gender"></label>

                                                                </div>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <div class="form-group">
                                                                    <label>Experience: {{experience}}</label>
                                                                    <label id="experience"></label>

                                                                </div>

                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="card">
                                    <div class="card-heading border bottom">
                                        <h4 class="card-title">Update Personal Info Form</h4>
                                    </div>
                                    <div class="card-block">
                                        <div class="mrg-top-40">
                                            <div class="row">
                                                <div class="col-md-8 ml-auto mr-auto">
                                                    <form action="{{url_for('personal_form')}}" method="POST">
                                                        <div class="row">
                                                            <div class="col-md-6">
                                                                <div class="form-group">
                                                                    <label>First Name</label>
                                                                    <input type="text" name="first_name_enter" placeholder="first name" class="form-control">
                                                                </div>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <div class="form-group">
                                                                    <label>Last Name</label>
                                                                    <input type="text" name="last_name_enter" placeholder="last name" class="form-control">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-md-6">
                                                                <div class="form-group">
                                                                    <label>Age</label>
                                                                    <input type="text" name="age_enter" placeholder="age" class="form-control">
                                                                </div>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <div class="form-group">
                                                                    <label>Location:</label><br>
                                                                    <input class="location" type="radio" id="loc1" name="location_enter" value="Campus">
                                                                    <label for="loc1"> Campus</label><br>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-md-6">
                                                                <div class="form-group">
                                                                    <label>Gender:</label><br>
                                                                    <input class="gender" type="radio" id="gender1" name="gender_enter" value="Male">
                                                                    <label for="gender1"> Male</label><br>
                                                                    <input class="gender" type="radio" id="gender2" name="gender_enter" value="Female">
                                                                    <label for="gender2"> Female</label><br>
                                                                    <input class="gender" type="radio" id="gender3" name="gender_enter" value="Other">
                                                                    <label for="gender3"> Other</label><br>
                                                                </div>
                                                            </div>
                                                            <div class="col-md-6">
                                                                <div class="form-group">
                                                                    <label>Experience:</label><br>
                                                                    <input class="experience" type="radio" id="exp1" name="experience_enter" value="Beginner">
                                                                    <label for="exp1"> Beginner</label><br>
                                                                    <input class="experience" type="radio" id="exp2" name="experience_enter" value="Intermediate">
                                                                    <label for="exp2"> Intermediate</label><br>
                                                                    <input class="experience" type="radio" id="exp3" name="experience_enter" value="Advanced">
                                                                    <label for="exp3"> Advanced</label><br>                                                        
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-md-6 col-xs-6">
                                                                <div class="text-right mrg-top-5">
                                                                    <button onclick="updateInfo()" type="submit" class="btn btn-primary" id="update_personal_info">Update Personal Info</button>
   
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="card">
                                    <div class="card-block">
                                        <div class="mrg-top-40">
                                            <div class="row">
                                                <div class="col-md-8 ml-auto mr-auto">
                                                    <form action="{{ url_for('index') }}">
                                                        <div class="row">
                                                            <div class="col-md-6 col-xs-6">
                                                                <div class="text-right mrg-top-5">
                                                                    <form>
                                                                        <button type="submit" class="btn btn-primary" >Log out</button>
                                                                      </form>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                <!-- Content Wrapper END -->
            </div>
            <!-- Page Container END -->

        </div>
    </div>
    <script src="home.js"></script>

</body>

</html>