@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700|Roboto:300,400,500,700");

html,
html a,
body {
    -webkit-font-smoothing: antialiased;
}

body {
    font-family: Roboto, -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, sans-serif;
    font-size: 14px;
    background-color: #f1f1f1;
    color: #888da8;
    line-height: 1.5;
    letter-spacing: 0.2px;
    overflow-x: hidden
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #515365;
    font-family: Roboto, -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, sans-serif;
    letter-spacing: 0.5px;
    font-weight: normal;
    line-height: 1.5;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
    font-family: Roboto, -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, sans-serif;
}

#inline {
    display: table;
    border: solid 1px grey;
    width:100%;
    position: fixed;
  }
  #inline div {
    display: flex;
     align-items: center;
        justify-content: space-evenly;
  }
  .smlBox {
    background-color: #eeeeee;
    font-family: Century Gothic, sans-serif;
    font-size: .9em;
    margin: 17px 0px 17px 0px;
    border-radius: 5px;
    padding: 7px 17px 7px 17px;
  }

h1 small,
h2 small,
h3 small,
h4 small,
h5 small,
h6 small {
    font-weight: 300;
    color: #5c5f73;
}

h1 {
    font-size: 26px;
}

h2 {
    font-size: 22px;
}

h3 {
    font-size: 20px;
}

h4 {
    font-size: 18px;
}

h5 {
    font-size: 16px;
}

h6 {
    font-size: 12px;
}

p {
    font-family: Roboto, -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, sans-serif;
    color: #888da8;
    line-height: 1.9;
}

.lead {
    font-size: 18px;
}

ul {
    margin-bottom: 0px;
}

a {
    color: #0f9aee;
}

a:hover,
a:focus {
    text-decoration: none;
    color: #0c7bbe;
}

a:focus {
    outline: none;
}

a.text-gray:hover,
a.text-gray:focus,
a.text-gray.active {
    color: #515365 !important;
}

:focus {
    outline: none;
}

hr {
    border-top: 1px solid #e6ecf5;
}

.font-primary {
    font-family: Roboto, -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, sans-serif;
}

.font-secondary {
    font-family: Roboto, -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, sans-serif;
}

.text-link:hover,
.text-link:focus {
    text-decoration: underline;
}

.text-opacity {
    opacity: 0.85;
}

.authentication .table-cell .card {
    -webkit-box-shadow: 0 1px 20px 0 rgba(69, 90, 100, 0.08);
    box-shadow: 0 1px 20px 0 rgba(69, 90, 100, 0.08);
    border: none;
}

.vertical-align .table-cell {
    display: table-cell;
    vertical-align: middle;
}

.card .card-horizon .background-holder.has-content .content {
    display: table-cell;
    vertical-align: middle;
    padding: 0px 15px;
}

.justified-tabs .nav-tabs>li {
    display: table-cell;
    width: 1%;
    text-align: center;
    float: none;
}

.email-app .email-wrapper .email-list .email-list-wrapper .email-list-item .email-item .email-detail {
    vertical-align: top;
    display: table-cell;
    width: 100%;
    padding-left: 40px;
}

.card {
    position: relative;
    background-color: #ffffff;
    margin-bottom: 30px;
    border: 1px solid #e6ecf5;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
}

.card.bg-primary,
.card.bg-success,
.card.bg-info,
.card.bg-warning,
.card.bg-danger {
    color: #e6e5e5;
}

.card.bg-primary h1,
.card.bg-primary h2,
.card.bg-primary h3,
.card.bg-primary h4,
.card.bg-primary h5,
.card.bg-primary h6,
.card.bg-success h1,
.card.bg-success h2,
.card.bg-success h3,
.card.bg-success h4,
.card.bg-success h5,
.card.bg-success h6,
.card.bg-info h1,
.card.bg-info h2,
.card.bg-info h3,
.card.bg-info h4,
.card.bg-info h5,
.card.bg-info h6,
.card.bg-warning h1,
.card.bg-warning h2,
.card.bg-warning h3,
.card.bg-warning h4,
.card.bg-warning h5,
.card.bg-warning h6,
.card.bg-danger h1,
.card.bg-danger h2,
.card.bg-danger h3,
.card.bg-danger h4,
.card.bg-danger h5,
.card.bg-danger h6 {
    color: #ffffff;
}

.card.bg-primary p,
.card.bg-success p,
.card.bg-info p,
.card.bg-warning p,
.card.bg-danger p {
    color: #e6e5e5;
}

.card .card-heading {
    padding: 15px 20px;
    position: relative;
}

.card .card-heading .card-title {
    margin-bottom: 0px;
}

.card .card-body {
    padding: 15px 20px;
}

.card .card-footer {
    position: relative;
    padding: 10px 15px 10px 15px;
    min-height: 55px;
    background-color: transparent;
}

.card .card-footer .btn {
    margin: 0px;
}

.card .card-footer .btn-flat {
    font-size: 13px;
    text-transform: uppercase;
}

.card .card-horizon {
    padding: 0px;
    position: relative;
}

.card .card-horizon .image-container {
    overflow: hidden;
    position: absolute;
    height: 100%;
    padding: 0px;
    top: 0px;
}

@media only screen and (max-width: 767px) {
    .card .card-horizon .image-container {
        position: static;
    }
}

.card .card-horizon .card-body {
    position: relative;
}

.card .card-horizon .background-holder {
    position: relative;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    z-index: 0;
}

@media only screen and (max-width: 767px) {
    .card .card-horizon .background-holder {
        min-height: 350px;
    }
}

.card .card-horizon .background-holder.has-content {
    display: table;
}

.card .card-horizon .background-holder.has-content .content {
    display: table-cell;
    vertical-align: middle;
    padding: 0px 15px;
}

.card:before {
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 2;
    visibility: hidden;
    opacity: 0;
    background: #ffffff;
    /* The Fallback */
    background: rgba(255, 255, 255, 0.85);
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
}

.card-block {
    padding: 30px;
}

.card-title {
    font-family: Roboto, -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, sans-serif;
    color: #515365;
    margin-top: 0px;
    margin-bottom: 15px;
}

.card-media {
    position: relative;
}

.card-media img {
    width: 100%;
}

.card-refresh:before {
    visibility: visible;
    opacity: 1;
}

.card-refresh:after {
    content: "";
    position: absolute;
    top: calc(50% - 20px);
    left: calc(50% - 20px);
    border: 3px solid #e6ecf5;
    /* Light grey */
    border-top: 3px solid #7774e7;
    /* Blue */
    border-radius: 50%;
    width: 40px;
    height: 40px;
    z-index: 3;
    -webkit-animation: spin 1.2s linear infinite;
    -moz-animation: spin 1.2s linear infinite;
    -ms-animation: spin 1.2s linear infinite;
    -o-animation: spin 1.2s linear infinite;
    animation: spin 1.2s linear infinite;
    transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
}

a.card {
    display: block;
}

a.card:hover,
a.card:focus {
    -webkit-box-shadow: 0 7px 15px rgba(0, 0, 0, 0.075);
    -moz-box-shadow: 0 7px 15px rgba(0, 0, 0, 0.075);
    box-shadow: 0 7px 15px rgba(0, 0, 0, 0.075);
}

.calendar-event .card-block {
    position: relative;
}

.dashboard.card {
    margin-bottom: 15px;
}

.dashboard.card .content {
    padding: 15px 15px 10px 15px;
}

.dashboard.card .content .icon-big {
    font-size: 3em;
    min-height: 64px;
    line-height: 64px;
}

.dashboard.card .content .number {
    font-size: 1.5em;
    text-align: right;
    font-weight: bolder;
}

.dashboard.card .content .footer {
    background-attachment: fixed;
    position: relative;
    padding: 0;
    line-height: 30px;
}

.dashboard.card .content .stats {
    display: inline-block;
    color: #a9a9a9;
}

.form-group {
    margin-bottom: 25px;
}

.widget-compose textarea.form-control {
    border: 0px;
    min-height: 60px;
    padding: 20px 10px;
}

.form-control {
    border: 1px solid #e6ecf5;
    border-radius: 2px;
    box-shadow: none;
    height: 42px;
    font-size: 14px;
    color: #888da8;
    transition: all 0.2s ease-in;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    -ms-transition: all 0.2s ease-in;
}

.form-control::-webkit-input-placeholder {
    color: #e0e2e9;
}

.form-control:-moz-placeholder {
    color: #e0e2e9;
}

.form-control::-moz-placeholder {
    color: #e0e2e9;
}

.form-control:-ms-input-placeholder {
    color: #e0e2e9;
}

.form-control:focus {
    outline: 0 none;
    box-shadow: none;
    border-color: #3daef3;
}

.form-control.input-sm {
    height: 30px;
}

.form-control.input-lg {
    height: 50px;
}

.form-control.error {
    border-color: #ff3c7e;
    background-color: #ffeff4;
}

.form-control.valid {
    border-color: #37c936;
    background-color: #ebfaeb;
    color: #278d26;
}

.has-success .form-control {
    box-shadow: none;
    border-color: #37c936;
}

.has-success .form-control:focus {
    border-color: #37c936;
    box-shadow: none;
}

.has-warning .form-control {
    box-shadow: none;
    border-color: #ffcc00;
}

.has-warning .form-control:focus {
    border-color: #ffcc00;
    box-shadow: none;
}

.has-error .form-control {
    box-shadow: none;
    border-color: #ff3c7e;
}

.has-error .form-control:focus {
    border-color: #ff3c7e;
    box-shadow: none;
}

textarea.form-control {
    min-height: 175px;
}

.input-icon .form-control {
    padding-left: 40px;
}

textarea.form-control {
    min-height: 175px;
}

.input-icon .form-control {
    padding-left: 40px;
}

.pdd-vertical-30 {
    padding-top: 30px !important;
    padding-bottom: 30px !important;
}

.pdd-horizon-30 {
    padding-left: 30px !important;
    padding-right: 30px !important;
}

.text-center {
    text-align: center !important;
}

.vertical-align {
    display: table;
    height: 100%;
    width: 100%;
}

.mrg-btm-15 {
    margin-bottom: 15px !important;
}

.font-size-13 {
    font-size: 13px !important;
}

.text-center {
    text-align: center !important;
}

.no-pdd-horizon {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.full-height {
    min-height: 100vh;
}